<div class="text-center text-danger">
	<div style="margin: 30px 0">
		<span class="fa fa-warning fa-5x" style="opacity: .4"></span>
		<div style="margin-top: 15px">
			<i data-i18n="error"></i>
		</div>
	</div>
</div>
